@page
@model FJ_Shuttels.Pages.ConfirmationPageModel
@{
}
<form method="post">
    <!-- Your form fields here -->
    <input type="text" placeholder="Card Number" class="form-control" id="cardNumber" name="CardNumber" required />

    <!-- Other form fields -->

    <button type="submit" class="b-main-color pointer">Pay Now</button>
</form>
