@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>Splash Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="splash-container">
        
        <h1>FJ SHUTTLES</h1>
        <p>Your premier shuttle and cab service</p>
    </div>
</body>
</html>

<div class="text-center">
    <h1 class="display-4">DISCOVER THE BEST WAY TO EXPLORE THE CITY</h1>
    
    </div>

    


