@page
@model FJ_Shuttels.Pages.SplashPageModel
@{
}

<html>
<head>
    <title>Splash Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="splash-container">
        <img src="images/splash-page.jpg" alt="Splash Page">
        <h1>FJ SHUTTLES</h1>
        <p>Your premier shuttle and cab service</p>
    </div>
</body>
</html>