@page
@model FJ_Shuttels.Pages.Successful_PaymentModel
@{
}


<div class="confirmation-container">

    <h1>Booking Confirmed!</h1>

    <p>Thank you for choosing FJ Shuttles. Your booking has been confirmed successfully.</p>

</div>

<div>

    <p>An email with all the details has been sent to your provided email address.</p>

    <p>If you have any questions or need to make changes, please contact our customer support team at [(+27) 67 908 4042].</p>

    <p>Thank you for choosing FJ Shuttles. We look forward to serving you!</p>

</div>